:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.word h4 {
  margin: 10px 0;
}

.word h4 .pronunciation {
  font-weight: bold;
}

.word h4 .alternate-pronunciation {
  font-weight: normal;
}

.sense {
  display: flex;
}

.sense-counter {
  margin-right: 0.5rem;
  line-height: 1.4;
}

.sense-counter,
.subsense-counter {
  margin-right: 0.3rem;
}

.word {
  text-align: left;
}

.word > div {
  display: inline-block;
  margin: 0 0.25em;
}

.word > div:nth-child(1) {
  display: inline-block;
  margin-right: 0.25em;
}

.word > div:nth-child(2) {
  display: inline-block;
  margin: 0;
}

.word .sense > div {
  display: inline;
}

.ais-InfiniteHits-loadMore--disabled {
  display: none;
}

.word h4 {
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  .ais-Hits-item,
  .ais-InfiniteHits-item,
  .ais-FrequentlyBoughtTogether-item,
  .ais-LookingSimilar-item,
  .ais-RelatedProducts-item,
  .ais-TrendingItems-item {
    background: #333; /* Or any dark theme appropriate color */
  }
}
